<html>
<body>
    <nav id="sidebar" class="bg-light nav-light p-3 mt-5 border-right">
        <ul class="nav flex-column py-3 text-uppercase">
          <li class="nav-item">
            <a class="nav-link text-secondary" href="index.php">
              <i class="fas fa-home mr-3"></i>Beranda
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">
              <i class="fas fa-info-circle mr-3"></i>Tentang
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">
              <i class="fas fa-question-circle mr-3"></i>Bantuan
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">
              <i class="fas fa-address-book mr-3"></i>Kontak
            </a>
          </li>
          <div><hr class="border-1"></div>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="haji.php">
              <i class="fas fa-kaaba mr-3"></i>Haji
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">
              <i class="fas fa-mosque mr-3"></i>Umroh
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">
              <i class="fas fa-place-of-worship mr-3"></i>Wisata Halal
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">
              <i class="fas fa-book mr-3"></i>Panduan Manasik
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">
              <i class="fas fa-gift mr-3"></i>Oleh-oleh
            </a>
          </li>       
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">
              <i class="fas fa-images mr-3"></i>Dokumentasi
            </a>
          </li>
         
          
        </ul>
    </nav>
</body>
</html>